global
    log stdout format raw local0

    ssl-default-bind-options ssl-min-ver TLSv1.2
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256

defaults
    log global
    mode http
    option httplog

    timeout connect      5s
    timeout http-request 10s
    timeout client       60s
    timeout server       60s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

frontend http
    bind :80
    http-request redirect scheme https code 301

frontend https
    bind :443 ssl crt /tmp/certs/ alpn h2,http/1.1

    # HAProxy принимает трафик напрямую из интернета, поэтому заменяет
    # переданные клиентом заголовки адреса своими значениями.
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https

    # --- Routing

    # acl host_app hdr(host) -i app.example.com
    # use_backend be_app if host_app

    # ---

    default_backend be_not_found

# --- Backends

# ---

backend be_not_found
    http-request return status 404 content-type text/plain string "Unknown host"
